<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% var num = Math.floor(Math.random(10) * compliments.length) %>
    <%= compliments[num] %>
    <h1></h1>
  </body>
</html>
